/*
Colors used:
Primary colors:
  #F1C9CD - pink
  #222D27 - dark gray
Secondary colors:
  #808080 - gray
  #C0D7D2 - green
  #DEDDDB - light gray
*/
/* Header font: font-family: 'Oswald', sans-serif; */
/* Body font: font-family: 'Roboto', sans-serif;*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #222D27; /* dark gray */
}

h1, h2, h3, a {
  font-weight: 500;
  color: #222D27; /* dark gray */
  font-family: 'Oswald', sans-serif;
}

h4, h5, h6 {
  font-weight: 400;
  color: #808080; /* gray */
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

a {
  color: #F1C9CD; /* pink */
  font-size: 1.2em;
  text-decoration: none; /* No underlining */
}

a:hover, a:focus {
  color: #808080; /* gray */
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #F1C9CD; /* pink */
}

a:active { /* selected link */
  color: #C0D7D2; /* green */
}

img {
  width: 100%;
}

img.email {
  width: 200px;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  border: 8px double #F1C9CD; /* pink */
  border-radius: 5px;
  padding: 9px 30px;
  background-color: transparent;
  transition: 0.3s background-color;
  margin-bottom: 25px;
}

.button:hover {
  background-color: #F1C9CD; /* pink */
  border-radius: 5px;
  color: #222D27; /* dark gray */
  text-decoration: none;
}

.button:active {
  background-color: #C0D7D2; /* green */
  border: 10px double #C0D7D2; /* green */
  border-radius: 5px;
  color: #222D27; /* dark gray */
  text-decoration: none;
}

.logo {
  max-width: 108px;
}

#myHeader {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}

nav {
  border-top: 1px solid #DEDDDB; /* light gray */
  border-bottom: 1px solid #DEDDDB; /* light gray */
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
}

#hero {
  text-align: center;
  padding: 0 10px;
}

#hero span {
  display: block;
  font-weight: 400;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

.container {
  padding: 0 10px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0;
  display: inline-block;
}

#work {
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #DEDDDB; /* light gray */
}

footer {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  padding: 5px 10px 10px;
}

footer h2 {
  padding: 20px 0 0;
}

footer ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 5px;
}

.titleHeader, .resume {
  text-align: center;
}

#socialIcons {
  padding: 10px 0;
}

#socialIcons a {
  padding: 4px;
}

#socialIcons a:hover {
  padding: 4px;
  color: #808080; /* dark gray */
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.about-page h2 {
  margin-bottom: 0;
}

.about-page h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.about-page h4 {
  margin: 10px 0;
}

#intro {
  margin-top: 0;
}

#copyright {
  background-color: #222D27; /* dark gray */
  color: #F1C9CD; /* pink */
  padding: 10px 0;
  margin: 30px 0 0;
}

.myFooter {
  border-top: 1px solid #DEDDDB; /* light gray */
  clear: both;
}

svg {
  width: 100%;
  max-width: 80%;
  height: auto;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
header {
  border-bottom: 1px solid #DEDDDB; /* light gray */
  text-align: unset;
  padding: 20px 0 14px;
}

nav {
  border: none;
  width: auto;
  float: right;
  margin: 0 20px;
}

.logo {
  margin-left: 25px;
}

nav > ul > li > a {
  padding: 0 13px;
}

.container {
  padding: 0 25px;
}

.col-md-6 {
  width: 50%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.mySkills h2 {
  font-size: 1.75em;
}

.mySkills h3 {
  font-size: 1.5em;
  color: #808080; /* gray */
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /* animation: 4s color-change infinite alternate linear; */
}

#me {
  display: block;
  width: 50%;
  margin: auto;
}

.photo {
  display: block;
  width: 80%;
  margin: auto;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
.col-lg-7 {
  width: 60%;
}

.col-lg-5 {
  width: 40%;
}

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
