/*
Colors used:
Primary colors:
  #F1C9CD - pink
  #222D27 - dark gray
Secondary colors:
  #808080 - gray
  #C0D7D2 - green
  #DEDDDB - light gray
*/
/* Header font: font-family: 'Oswald', sans-serif; */
/* Body font: font-family: 'Roboto', sans-serif;*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #222D27; /* dark gray */
}

h1, h2, h3, a {
  font-weight: 500;
  color: #222D27; /* dark gray */
  font-family: 'Oswald', sans-serif;
}

h4, h5, h6 {
  font-weight: 400;
  color: #808080; /* gray */
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

a {
  color: #F1C9CD; /* pink */
  font-size: 1.2em;
  text-decoration: none; /* No underlining */
}

a:hover, a:focus {
  color: #808080; /* gray */
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #F1C9CD; /* pink */
}

a:active { /* selected link */
  color: #C0D7D2; /* green */
}

img {
  width: 100%;
}

img.email {
  width: 200px;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  border: 8px double #F1C9CD; /* pink */
  border-radius: 5px;
  padding: 9px 30px;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #F1C9CD; /* pink */
  border-radius: 5px;
  color: #222D27; /* dark gray */
  text-decoration: none;
  transition: 0.2s opacity;
}

.button:active {
  background-color: #C0D7D2; /* green */
  border: 10px double #C0D7D2; /* green */
  border-radius: 5px;
  color: #222D27; /* dark gray */
  text-decoration: none;
  transition: 0.2s opacity;
}

.logo {
  max-width: 108px;
}

header {
  padding: 15px 0;
  text-align: center;
}

nav {
  border-top: 1px solid #DEDDDB; /* light gray */
  border-bottom: 1px solid #DEDDDB; /* light gray */
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
}

#hero {
  text-align: center;
  padding: 0 10px;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

.row {
  margin: 25px 0;
  display: inline-block;
}

#work {
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #DEDDDB; /* light gray */
}

#work .project {
  text-align: left;
}

.container {
  padding: 0 10px;
}

footer {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  padding: 5px 10px 10px;
}

footer h2 {
  padding: 20px 0 0;
}

footer ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 5px;
}

#contact {
    border-top: 1px solid #DEDDDB; /* light gray */
    margin: 0 25px;
}

.titleHeader, .resume {
  text-align: center;
}
